@import "tailwindcss";

@theme {
  --font-sans: Arial, Helvetica, sans-serif;

  --color-kraft-50: #ffffff;
  --color-kraft-100: #fafafa;
  --color-kraft-200: #f2f2f2;
  --color-kraft-300: #e2e2e2;
  --color-kraft-400: #cccccc;
  --color-kraft-500: #a3a3a3;
  --color-kraft-600: #737373;
  --color-kraft-700: #525252;
  --color-kraft-800: #333333;
  --color-kraft-900: #1a1a1a;
  --color-stamp: #c2703d;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-kraft-50);
}
